html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.sort-arrow {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 4px;
    vertical-align: middle;
}

    .sort-arrow.up {
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-bottom: 4px solid #000; 
    }

    .sort-arrow.down {
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 4px solid #000; 
    }

nav.menu-hidden {
    display: none;
}
