@{
    ViewData["Title"] = "RESERVATION - HOME";
}

<table class="table table-bordered">
    <tbody>
        <tr>
            <th scope="row" class="text-right align-middle">Last visit:  </th>
            <td class="text-left align-middle">  @ViewData["Visit"]</td>
        </tr>
        <tr>
            <th scope="row" class="text-right align-middle">Number of visits:  </th>
            <td class="text-left align-middle">  @ViewData["Count"]</td>
        </tr>
        <tr>
            <th scope="row" class="text-right align-middle">Date and Time Now:  </th>
            <td class="text-left align-middle">  @DateTime.Now</td>
        </tr>
    </tbody>
</table>
