@model Reservation
@{
    ViewData["Title"] = "Utwórz";
}

<h2>Create</h2>

<form asp-action="Create" asp-controller="Reservation" method="post">
    <div asp-validation-summary="All"></div>
    <div>
        <label asp-for="Priority"></label>
        <div>
            <span asp-validation-for="Priority" class="text-danger"></span>
        </div>
        <select class="form-control" asp-for="Priority" asp-items="@Html.GetEnumSelectList<Priority>()"></select>
    </div>
    <div>
        <label asp-for="Date"></label>
        <div>
            <span asp-validation-for="Date" class="text-danger"></span>
        </div>
        <input asp-for="Date" class="form-control" />
    </div>

    <div>
        <label asp-for="City"></label>
        <div>
            <span asp-validation-for="City" class="text-danger"></span>
        </div>
        <input asp-for="City" class="form-control" />
    </div>

    <div>
        <label asp-for="Address"></label>
        <div>
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
        <input asp-for="Address" class="form-control" />
    </div>

    <div>
        <label asp-for="Room"></label>
        <div>
            <span asp-validation-for="Room" class="text-danger"></span>
        </div>
        <input asp-for="Room" class="form-control" />
    </div>

    <div>
        <label asp-for="Owner"></label>
        <div>
            <span asp-validation-for="Owner" class="text-danger"></span>
        </div>
        <input asp-for="Owner" class="form-control" />
    </div>

    <div>
        <label asp-for="Price"></label>
        <div>
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <input asp-for="Price" class="form-control" />
    </div>

    <button type="submit">Zapisz</button>
</form>